.header {
	background-color: #f4f4f4;
	Color: black;
	text-align: left;
}
.box1 {
	background-color: #ff0000;
	color: white;
	text-align: left;
}
.box2 {
	background-color: #999999;
	color: white;
	text-align: left;
}
.box3 {
	background-color: #666666;
	color: white;
	text-align: left;
}
.box4 {
	background-color: #333333;
	color: white;
	text-align: left;
}
.box5 {
	background-color: #cfa339;
	color: white;
	text-align: left;
}
.box6 {
	background-color: #55148c;
	color: white;
	text-align: left;
}
.box7 {
	background-color: #376d6a;
	color: white;
	text-align: left;
}
.box8 {
	background-color: #000000;
	color: white;
	text-align: left;
}
.box9 {
	background-color: #008000;
	color: white;
	text-align: left;
}
.box10 {
	background-color: #ff66cc;
	color: white;
	text-align: left;
}
.box11 {
	background-color: #7b3f00;
	color: white;
	text-align: left;
}
.box12 {
	background-color: #FF5733;
	color: white;
	text-align: left;
}
.box13 { 
	background-color: #33A2FF;
	color: white;
	text-align: left;
}
.box14 { 
	background-color: #5E1769;
	color: white;
	text-align: left;
}
.box15 { 
	background-color: #775F66;
	color: white;
	text-align: left;
}
.box16 {
	background-color: #93A496;
	color: white;
	text-align: left;
}









